.modal-photomanager .modal-dialog {
    max-width: 900px;
}

.modal-photomanager .modal-header {
    align-items: center;
    color: #fff;
    background: #3f51b5;
}

.modal-photomanager .modal-title {
    order: 0;
    color: #fff;
}

.modal-photomanager .close {
    color: #fff;
    margin: 0;
    padding: 0;
    opacity: 1;
}

.modal-photomanager .title-search {
    display: flex;
    align-items: center;
}

.modal-photomanager .toggle-search {
    font-size: 20px;
    margin-left: 15px;
    transform: translateY(2px);
    cursor: pointer;
}

.modal-photomanager .modal-body {
    height: 500px;
    overflow-y: auto;
}

.modal-photomanager .upload-images {
    margin-right: auto;
}

/* ***** -- files list ***** */
.files-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.files-list-item {
    position: relative;
    width: 20%;
    padding: 10px;
    transition: .3s ease;
}

.files-list-item:hover .file-actions {
    display: flex;
}

.file-actions {
    display: flex;
    position: absolute;
    top: 11px;
    right: 11px;
    display: none;
}

.file-actions [class*="trigger-"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 24px;
    color: #fff;
    margin: 0 0 0 1px;
    background: rgba(0,0,0,.8);
    cursor: pointer;
}

.file-actions [class*="trigger-"]:hover {
    background: #3f51b5;
}

.files-list-item .file {
    cursor: pointer;
    border: 1px solid transparent;
    transition: .3s ease;
}

.files-list-item.selected {
    transform: scale(1.05);
}

.files-list-item.selected .file {
    border: 1px solid #3f51b5;
    box-shadow: rgba(63, 81, 181, 0.42) 0px 16px 26px -12px, rgba(0, 0, 0, 0.12) 0px 4px 23px 0px, rgba(63, 81, 181, 0.4) 0px 8px 10px -5px;
}

/* ***** -- files search ***** */
.files-search {
    padding: 20px 0 0 0;
    display: none;
}

.files-search .form-group {
    margin: 0;
}

/* ***** -- update file info ***** */
.update-file-info {
    display: none;
}

.update-file-info .inline-form {
    flex-wrap: nowrap;
}

.update-file-info .form-group {
    flex-grow: 1;
}

.update-file-info .form-group .form-control {
    width: 100%;
}

.update-file-info .form-group:last-child {
    margin-left: auto;
}

.update-file-info .form-group:last-child button {
    width: 100%;
}