<h3>Журналист</h3>
<p></p>

<p>В информационное агентство "Репорт" требуется пишущий журналист - опытный автор новостей, статей на наиболее актуальные темы в сфере социума;  науки и образования; здоровья и культуры.</p>
 
<p>Описание:</p>
<p>
- написание статей (социум; наука и образования; здоровье и культуры);<br />
- поиск эксклюзивных тем;<br />
- мониторинг информационного пространства;<br />
- умение находить интересные новости в международных СМИ, переводить и готовить их к публикации.
</p>

<p>&nbsp;</p>

<p>Требования:</p>
<p>
- опыт работы журналистом или копирайтером (обязательно);<br />
- грамотность, ответственность, оперативность;<br />
- профильное образование.
</p>
    
<p>Просим отправлять CV на  <strong>email: hr@report.az</strong> с обязательным указанием должности.</p>
