<h3>Video montajçı</h3>

<p>“Report” İnformasiya Agentliyinə video montajçı tələb olunur</p>

<p><b>İşin təsviri:</b></p>
<p>
- Təqdim olunmuş kadrları maraqlı və səliqəli formada yığmalı;<br />
- Mətndə qeyd olunan göstəricilərə uyğun kadrları düzgün yerləşdirməli;<br />
- Gündəlik hazırlanan videoları vaxtında montaj edərək təhvil verməlidir.
</p>

<p><b>Tələblər:</b></p>

<p>
- Iş təcrübəsi olmalı;<br />
- Kreativ düşüncə və yaradıcı yanaşma olmalı;<br />
- Məsuliyyətli, operativ və diqqətli olmalıdır.
</p>
  
<p>İş qrafiki: 09:00- 18:00, 6 gün, bazar günü istirahət günləridir</p>
<p>&nbsp;</p>

<p>Vakansiya üzrə müraciətlərinizi CV formasında mütləq vəzifəni göstərməklə <strong>hr@report.az</strong> elektron ünvanına göndərə bilərsiniz</p>
