
<div class="live-stream-container">
    <div class="live-stream">
        <div class="remove-stream">
            <i class="icon-times"></i>
        </div>

        <div class="video-container">
            <iframe src="https://www.facebook.com/plugins/video.php?href={{ url }}&show_text=0&width=560"
                    width="560"
                    height="315"
                    style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                    allowFullScreen=""
            ></iframe>
        </div>
    </div>
</div>
