
<div class="subs-in-social subs-facebook">
    <div class="icon">
        <a href="#" target="_blank">
            <i class="icon-facebook"></i></a>
    </div>
    <div class="subs-message">
        <a href="{{ socialTabs.facebookPages[language] }}" target="_blank">{{ 'social_facebook_follow'|trans({}, 'common') }}</a>
    </div>
</div>