<div class="subs-in-social subs-instagram">
    <div class="icon">
        <a href="#" target="_blank">
            <i class="icon-instagram"></i></a>
    </div>
    <div class="subs-message">
        <a href="{{ socialTabs.instagram[language] }}" target="_blank">{{ 'social_instagram_follow'|trans({}, 'common') }}</a>
    </div>
</div>
