
<div class="subs-in-social subs-linkedin">
    <div class="icon">
        <a href="#" target="_blank">
            <i class="icon-linkedin"></i></a>
    </div>
    <div class="subs-message">
        <a href="{{ socialTabs.linkedin[language] }}" target="_blank">{{ 'social_linkedin_follow'|trans({}, 'common') }}</a>
    </div>
</div>