<div class="subs-in-social subs-telegram">
    <div class="icon">
        <a href="#" target="_blank">
            <i class="icon-telegram"></i></a>
    </div>
    <div class="subs-message">
        <a href="{{ socialTabs.telegramChannels[language] }}" target="_blank">{{ 'social_telegram_follow'|trans({}, 'common') }}</a>
    </div>
</div>