<div class="subs-in-social subs-twitter">
    <div class="icon">
        <a href="#" target="_blank">
            <i class="icon-twitter"></i></a>
    </div>
    <div class="subs-message">
        <a href="{{ socialTabs.twitter[language] }}" target="_blank">{{ 'social_twitter_follow'|trans({}, 'common') }}</a>
    </div>
</div>