<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="chief-editor flex">
            <h2 class="title">Editor-in-chief</h2>
            <!--
            <div class="thumb">
                <a href="author-inner.html">
                    <img src="images/persons/image0.jpg">
                </a>
            </div>
            -->
            <div class="info">
                <a class="name" href="#">Murad Aliyev</a>
                <p>Internal number: 1953</p>
                <p><a href="mailto:murad.aliyev@report.az">murad.aliyev@report.az</a></p>
            </div>
        </div>
    </div>
    <!-- Col-->

    <div class="col-lg-9 col-md-8 col-sm-6">
        <div class="departments">
            <h2 class="title">Departments</h2>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="department">
                        <p class="name">Economic Department</p>
                        <ul>
                            <li>
                                <p>Responsible person:</p>
                                <p><strong>Namig Huseynov</strong></p>
                            </li>
                            <li>
                                <p>Internal number: </p>
                                <p>1954</p>
                            </li>
                            <li>
                                <p>Email address:</p>
                                <p><a href="mailto:economy@report.az">economy@report.az</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="department">
                        <p class="name">Department of Internal Policy</p>
                        <ul>
                            <li>
                                <p>Responsible person:</p>
                                <p><strong>Parvin Abbasov</strong></p>
                            </li>
                            <li>
                                <p>Internal number: </p>
                                <p>1959</p>
                            </li>
                            <li>
                                <p>Email address:</p>
                                <p><a href="mailto:news@report.az">news@report.az</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="department">
                        <p class="name">Department of Foreign Policy</p>
                        <ul>
                            <li>
                                <p>Responsible person:</p>
                                <p><strong>Victoria Dementieva</strong></p>
                            </li>
                            <li>
                                <p>Internal number: </p>
                                <p>1961</p>
                            </li>
                            <li>
                                <p>Email address:</p>
                                <p><a href="mailto:victoria@report.az">victoria@report.az</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Departments-->
    </div>
    <!-- Col-->
</div>
<!-- Row-->