<div class="site-menubar-body">
    <div>
        <div>
            <ul class="site-menu" data-plugin="menu">
                <li class="nav-header"></li>
                {{ render_menu() }}
            </ul>
        </div>
    </div>
</div>